.postContainer {
    background: #5c5c5c;
    height: 100vh;
    width: calc(100% - 225px);
}

.postElementContainer {
    border: solid 1px #fff;
    max-width: 1024px;
    margin: 30px auto;
    padding: 15px;
    background-color: #eee;
    box-shadow: 0px 0px 6px 1px #353535;
}

.postContainer div h3 {
    font-size: 25px;
}

.postContainer div .text-container {
    margin-top: 15px;
    padding: 15px;
    background-color: #e0e0e0;
}

.postContainer div .fecha-container {
    margin-top: 15px;
    text-align: right;
}