header {
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

header div {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 320px;
}

header button {
    background: 0;
    border: solid 2px #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
}

header button:first-of-type {
    width: 130px;
}

header button:last-of-type {
    width: 100px;
}

.logo-header {
    filter: invert();
    width: 70px;
}

header div img {
    border-radius: 100px;
    cursor: pointer;
    width: 50px;
}

.menu {
    position: relative;
}